---
import ScreenShotPagePomodoro from '../assets/projects/pomodoro.webp';
import ScreenShotPageRick from '../assets/projects/rickandmorty.webp';
import ScreenShotPageMyWork from '../assets/projects/mywork.webp';
import Tailwind from './icons/Tailwind.astro';
import React from './icons/React.astro';
import Social from './Social.astro';
import Github from './icons/Github.astro';
import Web from './icons/Web.astro';
import ArtStation from './icons/ArtStation.astro';
import Expo from './icons/Expo.astro';
import Blender from './icons/Blender.astro';
import TypeScript from './icons/TypeScript.astro';

const TAGS = {
    TAILWIND: {
        name: 'Tailwind',
        icon: Tailwind
    },
    REACT: {
        name: 'React N',
        icon: React
    },
    EXPO: {
        name: 'Expo',
        icon: Expo
    },
    BLENDER: {
        name: 'Blender',
        icon: Blender
    },
    TYPESCRPT: {
        name: 'TypeScript',
        icon: TypeScript
    }
}

const PROJECTS = [
    {
        title: 'Rick And Morty App',
        description: 'App en React Native y Expo con expo-router, que utiliza NativeWind para estilos y muestra personajes de Rick and Morty mediante su API.',
        link: 'https://rickandmorty-character-leo.netlify.app',
        github: 'https://github.com/LeoNavarro1197/character-rickandmorty-react-native',
        artstation: 'https://www.artstation.com/artwork/x3rYGE',
        image: ScreenShotPageRick,
        tags: [TAGS.REACT, TAGS.EXPO,TAGS.TAILWIND]
    },
    {
        title: 'Pomodoro Time App',
        description: 'App de temporizador Pomodoro desarrollado con React Native, Expo y TypeScript con cambio automático entre modos y efectos de sonido.',
        link: 'https://pomodoro-time-leo.netlify.app',
        github: 'https://github.com/LeoNavarro1197/pomodoro-time',
        artstation: 'https://www.artstation.com/artwork/XJ2b2y',
        image: ScreenShotPagePomodoro,
        tags: [TAGS.REACT, TAGS.EXPO, TAGS.TYPESCRPT]
    },
    {
        title: 'Mi Trabajo En Blender',
        description: 'En este portfolio muestro algunos de mis trabajos en Blender, mostrando diferentes estilos de renderizado y efectos de iluminación.',
        artstation: 'https://www.artstation.com/artwork/V20g8R',
        image: ScreenShotPageMyWork,
        tags: [TAGS.BLENDER]
    },
]

---

{
    PROJECTS.map(({title, description, link, artstation, github, image, tags}) => (
        <div class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 pb-20">
            <div class="w-full md:w-1/2">
                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                    <img class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" src={image.src} alt={title} />
                </div>
            </div>
            <div class="w-full md:w-1/2 md:max-w-lg">
                <h3 class="text-2xl font-bold text-white">{title}</h3>
                <ul class="flex flex-row gap-x-2 py-3">
                        {tags.map((tag) => (
                            <li>
                                <span class="flex flex-row text-xs items-center justify-center gap-x-2 bg-slate-900/90 border border-white/10 rounded-full px-4 py-1">
                                    <tag.icon class="size-4" />
                                    <div class="opacity-70">{tag.name}</div>
                                </span>
                            </li>
                        ))}
                    </ul>
                <div class="flex flex-wrap">
                    <p class="text-white opacity-80">{description}</p>
                </div>
                <div class="flex flex-row gap-x-2 py-3 text-sm">
                    { link &&(
                        <Social href={link}>
                            <Web class="size-4" />
                            Web
                        </Social>
                    )}
                    
                    <Social href={artstation}>
                        <ArtStation class="size-4" />
                        ArtStation
                    </Social>
                    {github && (
                        <Social href={github}>
                            <Github class="size-4" />
                            GitHub
                        </Social>
                    )}  
                </div>
            </div>
        </div>
    ))
}